
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    height: 5vw;
    background-color: #008a8a;
}
h1{
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}